.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/img/bg2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form_bg {
  background-color: rgba(62, 62, 61, 0.6);
}

.btn_clr {
  background-color: peru;

}

.btn_clr:hover {
  background-color: rgb(217, 104, 52, 0.9);
}